
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  text-align: center;
  padding-top: 50px;
}
.titre{
 top: 0;
 text-align : center;
}

.machaine {
 background-color : #ffffff;
  font-family: "Comic Relief", system-ui;
  border: none;
  color: #000000;
  border-radius : 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.7s;
  border: 6px solid #000000; 
  position: fixed; /* ou fixed pour rester visible au scroll */
  right: 30px;         /* distance du bord gauche */
  top: 250px;          /* distance du haut */
}

.machaine:hover,
.machaine:focus {
 background-color: #b1b0b0;
 color : #000000;
 box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.cam {
  position: fixed;  /* reste visible même au défilement */
  right: 50px;      /* distance du bord droit */
  bottom: 5px;
  transition: transform 0.5s; /* transition fluide */
  top: 350px;       /* distance du haut */
}

.cam:hover {
  transform: scale(1.5); /* agrandissement au survol */
}

h1 {
 font-family: "Comic Relief", system-ui;
 font-size: 35px;
 position: absolute;
 top: 250px;
 left: 150px;
}

.calcaire {
 overflow: hidden;               /* important pour que la vidéo suive l'arrondi */
 box-shadow : 5px 5px 20px black;
 border-radius : 20px;
 position: absolute;
 top: 350px;
 left: 100px;
}

.covercrop {
 overflow: hidden;               /* important pour que la vidéo suive l'arrondi */
 box-shadow : 5px 5px 20px black;
 border-radius : 20px;
 position: absolute;
 top: 750px;
 left: 100px;
}

.ensillage {
 box-shadow : 5px 5px 20px black;
 border-radius : 20px;
 overflow: hidden;               /* important pour que la vidéo suive l'arrondi */
 position: absolute;
 top: 1150px;
 left: 100px;
}

@media screen and (max-width: 600px) {
 .machaine {
 background-color : #ffffff;
  font-family: "Comic Relief", system-ui;
  border: none;
  color: #000000;
  border-radius : 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;

  font-size: 15px;
  transition-duration: 0.7s;
  border: 6px solid #000000; 
  position: absolute; /* ou fixed pour rester visible au scroll */
  right: 250px;         /* distance du bord gauche */
  bottom: 60px;
}
.cam {
  position: absolute;  /* reste visible même au défilement */
  transition: transform 0.5s; /* transition fluide */
  bottom: 5px;
}
}
