
@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #5791dd;
  text-align: center;
  padding-top: 50px;
}

h1{
  font-family: "Comic Relief", system-ui;
  font-weight: 100;
  font-style: normal;
}

a {
  background-color : #d2d9df;
  border: none;
  color: #5791dd;
  border-radius : 60px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.7s;
  color: rgb(0, 0, 0);
  border: 4px solid #023f9b; 
  margin-top: 30px
}